# Managed by Ansible (mqtt role) - mosquitto MQTT broker.
persistence {{ 'true' if mqtt_persistence else 'false' }}
persistence_location {{ mqtt_persistence_location }}/
log_dest file /var/log/mosquitto/mosquitto.log

listener {{ mqtt_listener_port }}
allow_anonymous false
password_file {{ mqtt_password_file }}
acl_file {{ mqtt_acl_file }}