[Unit]
Description=First boot provisioning
ConditionPathExists=!/var/lib/firstboot.done
After=network.target
Before=ssh.service ssh.socket

[Service]
Type=oneshot
ExecStart=/usr/local/bin/firstboot.sh

[Install]
WantedBy=multi-user.target