# Managed by Ansible
defaults
auth {{ msmtp_auth }}
tls {{ msmtp_tls }}
{% if msmtp_tls == 'on' %}
tls_trust_file /etc/ssl/certs/ca-certificates.crt
{% endif %}
logfile {{ msmtp_logfile }}

account default
host {{ msmtp_host }}
port {{ msmtp_port }}
from {{ msmtp_from }}
{% if msmtp_user | length > 0 %}
user {{ msmtp_user }}
password {{ msmtp_password }}
{% endif %}